@font-face {
    font-family: 'brightwall';
    src: url('fonts/Brightwall-Font/Brightwall.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'organetto';
    src: url('fonts/Organetto-Font/Demo_Fonts/Fontspring-DEMO-organetto-regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffe3cf;
    font-family: 'organetto';
    color: #3C2F26;
}

.pattern::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 219%;
    background: url('imgs/pattern-bg.png') no-repeat center center;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}

.card {
    padding: 30px 0;
    background-color: #3C2F26;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.decor {
    height: 130px;
    background-image: url('imgs/decor.png');
    background-size: cover;
}

.content {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content>h2 {
    font-size: clamp(30px, 3.35vw, 50px);
    font-weight: 100;
    letter-spacing: 8px;
}

.content>h1 {
    font-size: clamp(61px, 6.7vw, 100px);
    font-family: 'brightwall';
    font-weight: 100;
    text-shadow: 0px 0px 0px #00000070;
}

span {
    padding: 8px 20px;
    background-color: #3c2f26;
    color: #fee9d7;
}

.cake-gifts {
    margin-top: 130px;
    padding: 0 70px;
    position: relative;
}

.cake-gifts>img:first-of-type {
    width: 100%;
    position: relative;
    z-index: 1;
}

.ballons-left {
    position: absolute;
    top: -9.7vw;
    left: 6.5vw;
    width: 30vw;
    transition: 8s ease-in-out;
}

.ballons-right {
    position: absolute;
    top: -4.7vw;
    right: 6.5vw;
    width: 30vw;
    transition: 8s ease-in-out;
}

.celeb-button,
.love-button {
    width: max-content;
    padding: 10px 25px;
    background-color: #ffe3cf;
    font-size: clamp(16px, 1.7vw, 25px);
    letter-spacing: 3px;
    transition: 0.3s ease-in-out;
}

.celeb-button-effect {
    box-shadow: 0px 0px 25px -1px #fee9d7;
}

.card-space {
    height: 550px;
    width: 860px;
    margin-bottom: 30px;
    position: relative;
    perspective: 2000px;
    transform: translateX(-24%);
    transition: 1s ease-in-out;
}

.card-top {
    height: 550px;
    width: 430px;
    background-color: #ffe3cf;
    position: absolute;
    right: 0;
    transform-origin: left;
    backface-visibility: hidden;
    z-index: 3;
    transition: 1s ease-in-out;
}

.card-top::before, .card-inside-left-two::before, .card-inside-right::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('imgs/pattern-bg.png') no-repeat center center;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}

.card-decor {
    height: 40px;
    margin-top: 10px;
    background-image: url('imgs/decor.png');
    background-size: cover;
}

.card-content {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-content>h2 {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 8px;
}

.card-content>h1 {
    font-size: 40px;
    font-family: 'brightwall';
    font-weight: 100;
    text-shadow: 0px 0px 0px #00000070;
}

.card-cake-gifts {
    padding: 0 10px;
}

.card-cake-gifts>img {
    width: 100%;
}

.card-inside-left {
    height: 550px;
    width: 430px;
    background-color: #ffe3cf;
    position: relative;
    top: 0px;
    left: 0px;
    transform: rotateY(180deg);
    transform-origin: right;
    transition: 1.05s ease-in-out;
}

.card-inside-left-two {
    height: 550px;
    width: 430px;
    background-color: #ffe3cf;
    position: absolute;
    top: 0;
    left: -0.5px;
    transform: rotateY(180deg);
    transform-origin: right;
    transition: 1.05s ease-in-out;
    z-index: 2;
    background: linear-gradient(to right, #ffe3cf 93%, #00000017);
}

.card-inside-right {
    height: 550px;
    width: 430px;
    background-color: #ffe3cf;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(to left, #ffe3cf 93%, #00000017);
}

.from1, .from2 {
    padding: 40px;
    font-size: 20px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.from1 span, .from2 span {
    padding: 5px 20px;
}

.from2 {
    line-height: 2;
}

.card-back {
    height: 550px;
    width: 430px;
    background-color: #ffe3cf;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.inst {
    margin-top: -30px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffe3cf;
}

.add-top {
    transform: rotateY(-130deg);
}

.add-left {
    transform: rotateY(40deg);
}

.card-align {
    transform: translateX(-16%);
}



/* media quries */

@media (min-width: 1100px) {

    .celeb-button:hover,
    .love-button:hover {
        box-shadow: 0px 0px 25px -1px #ffe3cf;
        cursor: pointer;
    }
}

@media (max-width: 1200px) {
    .pattern::before {
        height: 184%;
    }

    .card {
        gap: 40px;
    }

    .content {
        margin-top: 0;
    }

    .ballons-left {
        left: 7vw;
    }

    .ballons-right {
        right: 7vw;
    }
}

@media (max-width: 1000px) {
    .pattern::before {
        height: 154%;
    }

    .card {
        gap: 35px;
    }

    .decor {
        height: 115px;
    }

    .cake-gifts {
        margin-top: 100px;
        padding: 0 40px;
    }

    .ballons-left {
        left: 6vw;
    }

    .ballons-right {
        right: 6vw;
    }

    .card-space {
        height: 448px;
        width: 700px;
    }
    
    .card-top, .card-inside-left, .card-inside-left-two, .card-inside-right, .card-back {
        height: 448px;
        width: 350px;
    }
    
    .card-decor {
        margin-top: 3px;
    }
    
    .card-content {
        margin-top: 15px;
        margin-bottom: 21px;
        gap: 13px;
    }
    
    .card-content>h1 {
        font-size: 36px;
    }
    
    .card-content>h2 {
        font-size: 18px;
    }

    span {
        padding: 7px 16px
    }
    
    .card-cake-gifts {
        padding: 0 7px;
    }

    .from1, .from2 {
        padding: 25px 40px;
        font-size: 18px;
        gap: 25px;
    }

    .inst {
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .pattern::before {
        height: 129%;
    }

    .card {
        gap: 25px;
    }

    .decor {
        height: 100px;
    }

    .content>h2 {
        font-size: clamp(21px, 4vw, 30px);
    }

    .content>h1 {
        font-size: clamp(42px, 8.1vw, 61px);
    }

    .cake-gifts {
        margin-top: 70px;
        padding: 0 5px;
    }

    .ballons-left {
        top: -8.7vw;
        left: 4vw;
    }

    .ballons-right {
        top: -1.7vw;
        right: 3vw;
    }

    .card-space {
        height: 410px;
        width: 600px;
    }
    
    .card-top, .card-inside-left, .card-inside-left-two, .card-inside-right, .card-back {
        height: 410px;
        width: 300px;
    }
    
    .card-decor {
        margin-top: 7px;
    }
    
    .card-content {
        margin-top: 18px;
        margin-bottom: 25px;
        gap: 13px;
    }
    
    .card-content>h1 {
        font-size: 30px;
    }
    
    .card-content>h2 {
        font-size: 15px;
        letter-spacing: 6px;
    }
    
    .card-cake-gifts {
        padding: 0 7px;
    }
    
    span {
        padding: 6px 13px;
    }
    
    .card-inside-left-two {
        left: 0;
    }

    .from1, .from2 {
        font-size: 15px;
    }
}

@media (max-width: 650px) {
    .pattern::before {
        height: 111%;
    }

    .card {
        gap: 20px;
    }

    .decor {
        height: 85px;
    }

    .content {
        gap: 10px;
    }

    .cake-gifts {
        margin-top: 65px;
        padding: 0 5px;
    }
}